body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Noto Sans', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#sidebar {
    display: block;

    background-color: var(--background-color);

    border-right: solid 1px #e1e0e3;
    border-radius: 8px 0 0 8px;
    padding: 8px 0;
}

.chat-list {
    overflow: auto;
    user-select: none;
}

#content {
    height: 100%;
    width: 100%;

    background-color: #f0f0f0;
    border-radius: 0 8px 8px 0;
}
